MONGODB_URI=mongodb+srv://akanjilawrence9999_db_user:eFO657ZSCp8504z5@cluster0.gnpzuef.mongodb.net/?appName=Cluster0
JWT_SECRET=your_secret_key
PORT=3000



# eFO657ZSCp8504z5
# akanjilawrence9999_db_user

# mongodb+srv://akanjilawrence9999_db_user:eFO657ZSCp8504z5@cluster0.gnpzuef.mongodb.net/?appName=Cluster0